<phpunit bootstrap="./tests/bootstrap.php">
    <testsuites>
        <testsuite name="helpers">
            <file>./tests/HelperTest.php</file>
        </testsuite>
        <testsuite name="communicator">
            <file>./tests/CommunicatorTest.php</file>
        </testsuite>
    </testsuites>

</phpunit>