<phpunit
        bootstrap="./vendor/autoload.php"
        stopOnFailure="false"
        colors="true"
        cacheResult="false"
>
    <testsuites>
        <testsuite name="communicator">
            <file>./tests/CommunicatorTest.php</file>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory>./src</directory>
        </include>
    </coverage>
</phpunit>
